<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  cacheDirectory=".phpunit.cache"
  failOnRisky="true"
  failOnWarning="true"
  defaultTestSuite="Unit,Feature"
>
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory>tests/Feature</directory>
    </testsuite>
    <!-- Known XTDB issues, asserting PostgreSQL behaviour: expected to fail until XTDB fixes them. -->
    <testsuite name="KnownIssues">
      <directory>tests/KnownIssues</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="XTDB_HOST" value="127.0.0.1"/>
    <env name="XTDB_PORT" value="5435"/>
    <env name="XTDB_DATABASE" value="xtdb"/>
    <env name="XTDB_USERNAME" value="xtdb"/>
  </php>
  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
